@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.event{
    &--default {
        display: flex;
        flex-direction: row;
        //border: 1px solid orange;
        @include  tablet  {
            flex-direction: row;
        }
        @media screen and (max-width: pxToRem(375)) {
            flex-direction: column;
        }
        gap:pxToRem(24);
        @include tablet {
            width: pxToRem(520);
        }
        @include desktop {
            width: pxToRem(1024);
        }
        @media screen and (max-width: pxToRem(375)) {
            width: pxToRem(287);
        }
        height: auto;

        .EventCard_Detail{
            display: flex;
            flex-direction: column;
            gap: pxToRem(8);
            //height: auto;
            width: 100%; 

            //border: 1px solid green;
            h3{
                margin: 0;
                font-family: Inter, sans-serif;
                font-weight: 600;
                font-size:  pxToRem(24);
                line-height: 120%;
                letter-spacing: -0.02em;
                //border: 1px solid red;
            }
            .eventTime{
                margin: 0px;
                font-family: Inter, sans-serif;
                font-weight: 600;
                font-style: normal;
                font-size:  pxToRem(16);
                line-height: 140%;

                //border: 1px solid red;
            }
            .eventDetail{
                margin: 0px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;     
                font-style: normal;
                font-size:  pxToRem(16);
                line-height: 140%;
                letter-spacing: 0%;
                color:#757575;
                //border: 1px solid red;
            }
            .Buttons{
                display: flex;
                flex-direction: row;
                @media screen and (max-width: pxToRem(375)) {
                    flex-direction: column;
                }

                gap:  pxToRem(16);
                margin-left: auto;
                    @media screen and (max-width: pxToRem(375)) {
                    margin-right: auto;
                    margin-left: auto;
                    width:pxToRem(287);
                }

                .learnButton{
                    color: #566AD9;
                    background: #FFFFFF; 
                    white-space: nowrap;
                }
                .registerButton{
                    background: #566AD9;
                    color: #FFFFFF;
                    white-space: nowrap;

                }
            }
        }
    }


    &--manage-attending {
        display: flex;
        flex-direction: column;
        gap:pxToRem(16);
        border: 1px solid #d9d9d9; 
        border-radius:pxToRem(6);  
        .EventCard_Detail{
            display: flex;
            flex-direction: column;
            gap: pxToRem(8);
            margin-left:  pxToRem(24) ;
            margin-bottom:  pxToRem(24) ;
            //height: auto;
            width: 86.84%; 
            word-break: break-word;
            overflow-wrap: break-word;
            //border: 1px solid green;
             h3 {
                margin: 0;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: pxToRem(24);
                line-height: 120%;
                letter-spacing: -0.02em;
            }
            .eventTime {
                margin: 0;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 1.4;
                letter-spacing: 0;
            }
            .eventDetail {
                margin: 0;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.4;
                letter-spacing: 0;
                color: #757575;
            }
           
        }
        .Buttons{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right:  auto ;
                gap: pxToRem(16);
        }

    }
}

