@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.event-graphic {
  background-color: $color-indigo-light;
  display: flex;
  &--default {
  width: pxToRem(160);
  height: pxToRem(160);
  min-width: pxToRem(160);
  }
  &--useForMange {
    margin-top:  pxToRem(24) ;
    margin-left:  pxToRem(24) ;
    width: pxToRem(72);
    height: pxToRem(72);
    .event-graphic__day{
      font-size: pxToRem(24);
    }
    .event-graphic__month {
        font-size: pxToRem(18);
    }
  }
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__day {
    color: $color-indigo-medium;
    text-align: center;
    font-size: pxToRem(72);
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }
  &__month {
    color: $color-indigo-medium;
    text-align: center;
    font-size: pxToRem(24);
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
  }
}
