@use "./../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  // border: 1px dashed rgb(33, 21, 21); // Temporary for debugging
}

body {
  font-family: $primary-font;
  margin: 0;
  background-color: $color-off-white;
}
