@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
.info{
    margin-left:auto ;
    margin-right: auto;
    margin-top: pxToRem(96);
    margin-bottom: pxToRem(96);
    width: 52%;
    @media screen and (max-width: pxToRem(768)) {
        width: 86.19%;
        //border: 1px solid blue;
    }
    @media screen and (max-width: pxToRem(380)) {
        width: 85%;
        //border: 1px solid red;
    }
    //border: 1px solid blue;
    display: flex;
    flex-direction: column;
    .icon{
        margin-left:auto ;
        margin-right: auto;
        margin-top: pxToRem(48);
        margin-bottom: pxToRem(37);
        background-color: white;
        @media screen and (max-width: pxToRem(380)) {
            margin-bottom: pxToRem(16);
        }
        //border:  pxToRem(1)  solid blue;
        width:pxToRem(53);
        height: pxToRem(53);
    }
    h2{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: pxToRem(37);
        @media screen and (max-width: pxToRem(380)) {
            margin-bottom: pxToRem(16);
        }
        font-family: "Arial", sans-serif; 
        font-weight: 600; 
        font-size: pxToRem(32); 
        @media screen and (max-width: pxToRem(380)) {
            font-size: pxToRem(24); 
        //border: 1px solid red;
        }
        line-height: pxToRem(38); 
        letter-spacing: -0.02em; 
        text-align: center;
        }
    p{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: pxToRem(37);
        width: 51.8%;
        //border: 1px solid red;
        @media screen and (max-width: 768px) {
            width: 58.61%;
            margin-bottom: pxToRem(16);
            //border: 1px solid blue;
        }
        @media screen and (max-width: 380px) {
            width: 89.96%;
            margin-bottom: pxToRem(16);
            //border: 1px solid blue;
        }
        font-family: "Arial", sans-serif; 
        font-weight: 400;
        font-size: pxToRem(16);
        line-height:pxToRem(22);
        letter-spacing: 0;
        text-align: center;

    }
    .backHome{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: pxToRem(48);
         @media screen and (max-width: 380px) {
            margin-bottom: pxToRem(0);
            //border: 1px solid blue;
        }
    }

}